button.conference_btn {
    background: #90baec;
    color: white;
    border-radius: 8px;
    border: none;
    text-align: center;
}

button.pdf_btn {
    background: #808080;
    color: white;
    border-radius: 8px;
    border: none;
}

button.demo_btn {
    background: #808080;
    color: white;
    border-radius: 8px;
    border: none;
}

img.author_profile{
    max-width: 600px;
    border-radius: 5%;
    border: 1px solid #f2f3f3;
    padding: 5px;
}

div.page_header{
    height: 80px;
    border-bottom: 1px solid #f2f3f3;
}

.headerImg {
    float: right;
}

.headText {

}

@media (min-width: 1600px) {
    #main {
        max-width: 1600px;
    }
}

@media (min-width: 1800px) {
    #main {
        max-width: 1800px;
    }
}

@media (min-width: 2000px) {
    #main {
        max-width: 2000px;
    }
}

@media (min-width: 2400px) {
    #main {
        max-width: 2400px;
    }
}

@media (min-width: 2800px) {
    #main {
        max-width: 2800px;
    }
}

@media (min-width: 3000px) {
    #main {
        max-width: 3000px;
    }
}



@media only screen and (max-width:375px) and (min-width:280px) {
    .headerImg {
        float: left;
    }
}
/* 
div.header_tabs{
    vertical-align:middle;
} */
